<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Valve state model </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Temperature :  <input type="text", name='a', placeholder="Enter Temperature"> <br><br>
            Humidity :  <input type="text", name='b', placeholder="Enter Humidity"> <br><br>
            Moisture :  <input type="text", name='c', placeholder="enter Moisture"> <br><br>
            <input type="submit" , value='predict!' >
        </form>
        
    </center>

    </body>
</html>
